.box {
    max-width: 345px;
    width: 100%;

    .title {
        font-weight: 600;
        font-size: 22px;
        margin-bottom: 15px;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
        gap: 7px;
        margin-bottom: 30px;

        .item {
            display: flex;
            position: relative;

            max-width: 110px;
            max-height: 140px;
            width: 100%;
            height: 100%;

            .emptySlots {
                width: 100%;
                height: 140px;
                background-color: var(--bg-elements);
            }

            .descr {
                position: absolute;
                bottom: 29px;
                left: 50%;
                transform: translateX(-50%);
                width: 100%;
                text-align: center;
                font-weight: 600;
                font-size: 12px;
            }
        }
    }
}

.boxInfo {
    background-image: url('../../assets/png/InfoItem.png');
    background-repeat: no-repeat;
    background-size: auto;
    width: 294px;
    height: 373px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;

    .imgWinner {
        max-width: 135px;
        max-height: 135px;
        margin-bottom: 30px;
    }

    .boxCopy {
        max-width: 230px;
        width: 100%;
        background: rgba(255, 255, 255, 0.2);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-bottom: 30px;

        .title {
            padding: 24px 40px;
            text-align: center;
            font-weight: 700;
            font-size: 16px;
            line-height: 128%;
        }
    }

    .link {
        width: 100%;
        .btn {
            width: 100%;
            font-weight: 700;
            font-size: 16px;
            line-height: 128%;
            color: var(--white);
        }
    }
}