.boxLoader {
  border-radius: 10px;
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 45px 0;
}

.loader {
  width: 8px;
  height: 8px;
  position: relative;
  border-radius: 50%;
  background: grey;
  animation: wave 1.5s ease-in infinite;
}

@keyframes wave {
  0% {
    box-shadow: 0 0 0 0px rgb(104, 102, 102),
      0 0 0 10px rgba(255, 255, 255, 0.5), 0 0 0 20px rgba(255, 255, 255, 0.4),
      0 0 0 30px rgba(255, 255, 255, 0.3), 0 0 0 40px rgba(255, 255, 255, 0.2);
  }
  100% {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0),
      0 0 0 30px rgba(255, 255, 255, 0.3), 0 0 0 20px rgba(255, 255, 255, 0.4),
      0 0 0 10px rgba(255, 255, 255, 0.5), 0 0 0 0px rgb(116, 114, 114);
  }
}
