services:
  db:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always
    networks:
      - kazik-networks

  app:
    build:
      context: baza
    container_name: kazik
    ports:
      - "8000:8000"
    depends_on:
      - db
    env_file:
      - baza/.env
    volumes:
      - media_data:/app/media
      - static_data:/app/staticfiles
    environment:
      RUNNING_IN_DOCKER: 'true'
    restart: always
    networks:
      - kazik-networks

  client:
    build:
      context: client
    container_name: client
    volumes:
      - front_build:/app
    networks:
      - kazik-networks

  nginx:
    image: nginx:latest
    container_name: nginx
    volumes:
      - ./baza/nginx.conf:/etc/nginx/nginx.conf
      - static_data:/static
      - media_data:/media
      - front_build:/client
#      - /etc/letsencrypt:/etc/letsencrypt
#      - /var/www/certbot:/var/www/certbot
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - app
      - client
    restart: always
    networks:
      - kazik-networks

volumes:
  media_data:
  postgres_data:
  static_data:
  front_build:

networks:
  kazik-networks:
    driver: bridge


