.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
  width: 100%;

  .boxSetting {
    display: flex;
    align-items: center;
    background-color: var(--bg-elements);
    border-radius: 10px;
    padding: 3px;
    height: 46px;
    width: 88px;

    .boxAvatar {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      margin-right: 12px;
      padding: 0;

      .imgAvatar {
        border-radius: 10px;
      }

      .svg {
        width: 100%;
        height: 100%;
      }
    }

    .btnSetting {
      background-color: var(--bg-elements);
      display: flex;
      padding: 0;
      padding-right: 10px;

      .svgSetting {
        display: block;
      }
    }
  }
}

.boxSearch {
  display: flex;
  background-color: var(--bg-elements);
  padding: 13px 14px;
  align-items: center;
  border-radius: 10px;
  margin-right: 16px;
  width: 100%;
  cursor: pointer;

  .boxSvg {
    display: flex;
    margin-right: 10px;
  }

  .infoInput {
    background-color: var(--bg-elements);
    font-weight: 600;
    font-size: 14px;
    color: var(--text-input);
    width: 100%;
  }
}

.searchBlock {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  .btn {
    display: flex;
  }
}

.boxHome {
  background-image: url("../../assets/png/bgHome.png");
  background-repeat: no-repeat;
  background-size: auto;
  max-width: 294px;
  height: 457px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 29px 10px 28px 10px;
  margin-bottom: 27px;

  .titleHome {
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 16px;
  }

  .descrHome {
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    margin-bottom: 30px;
  }

  .imgHome {
    margin-bottom: 50px;
  }

  .btnHome {
    font-weight: 700;
    font-size: 16px;
    line-height: 128%;
    color: var(--white);
  }
}
