.app {
    height: 100%;
    padding-top: 15px;

    .header {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        padding-top: 15px;
        padding-bottom: 10px;
        margin-bottom: 15px;
        z-index: 10;
        background: var(--bg-app);
    }

    .main {
        padding: 70px 0px;
        overflow: hidden;
    }

    .footer {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
    }
}