.boxModalWinner {
    background-image: url('../../assets/png/bgPrizeModalWheel.png');
    background-repeat: no-repeat;
    background-size: auto;
    max-width: 294px;
    height: 373px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 28px 37px;
    margin-bottom: 27px;

    .titleWinner {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
        margin-bottom: 8px;
    }

    .descrWinner {
        font-weight: 400;
        font-size: 12px;
        text-align: center;
        margin-bottom: 30px;
    }

    .imgWinner {
        margin-bottom: 30px;
        max-width: 178px;
        max-height: 135px;
    }

    .btnWinner {
        font-weight: 700;
        font-size: 16px;
        line-height: 128%;
        color: var(--white);
    }
}