.loader {
  width: 31px;
  height: 40px;
  display: inline-block;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blinking {
  animation: blink 1.5s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #14DD7C);
  }
  50% {
    opacity: 0.5;
    filter: drop-shadow(0 0 10px #14DD7C);
  }
  100% {
    opacity: 1;
    filter: drop-shadow(0 0 0 #14DD7C);
  }
}