.box {
  padding-left: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  max-width: 576px;

  .title {
    font-weight: 600;
    font-size: 22px;
    margin-bottom: 15px;
  }

  .boxCard {
    display: flex;
    width: 100%;
    padding-right: 15px;
    .slide {
      .boxSlide {
        position: relative;
        width: 100%;

        .img {
          width: 100%;
          // max-width: 320px;
          // max-height: 250px;
        }
        .boxInfoCard {
          width: 80%;
          position: absolute;
          bottom: 18.67px;
          left: 50%;
          transform: translateX(-50%);
          display: flex;
          justify-content: space-between;
          align-items: center;
          background: rgba(0, 0, 0, 0.5);
          border-radius: 10px;
          padding: 10px;
  
          .boxBonus {
            display: flex;
            align-items: center;
  
            .imgCard {
              width: 48px;
              height: 48px;
              margin-right: 11px;
              outline: 1px solid var(--white);
              border-radius: 10px;
            }
  
            .boxName {
              .boxInfo {
                display: flex;
                align-items: center;
                margin-bottom: 7px;
  
                .nameTitle {
                  font-weight: 600;
                  font-size: 15px;
                  margin-right: 6px;
                }
  
                .imgInfo {
                  margin-right: 2px;
                }
  
                .span {
                  font-weight: 600;
                  font-size: 12px;
                  color: var(--text-rating);
                }
              }
  
              .boxBonusInfo {
                display: flex;
                .descr {
                  max-width: 42px;
                  border-radius: 8px;
                  padding: 3px 7px;
                  background: rgba(121, 62, 198, 0.2);
                  font-weight: 600;
                  font-size: 10px;
                  color: var(--text-bonus);
                  margin-right: 4px;
                }
  
                .freespin {
                  background: rgba(0, 142, 143, 0.2);
                  border-radius: 8px;
                  padding: 3px 7px;
                  font-weight: 600;
                  font-size: 10px;
                  color: #008e8f;
                }
              }
            }
          }
  
          .btn {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 12.67px 16px;
            border-radius: 20px;
            background-color: #565656;

            .svg {
              margin-left: 3px;
            }
          }
        }
      }
    }
  }
}
