.box {
  width: 100%;
  backdrop-filter: blur(5.552794933319092px);
  background: rgba(24, 28, 40, 0.9);
  border-radius: 10px;
  
  .list {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 4px;

    .link {
      padding: 11.54px 0 14.42px 0;
      width: 100%;
      border-color: var(--bg-elements);

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;

        .img {
          .svg path {
            fill: var(--text-input);
          }

          .svgPoker path {
            stroke: var(--text-input);
          }
        }

        .descr {
          font-weight: 500;
          font-size: 10px;
          line-height: 132%;
          letter-spacing: 0.01em;
          color: var(--text-input);
        }
      }
    }

    .link.active {
      background: rgba(201, 192, 0, 0.2);
      border-radius: 10px;
      .item {
        .img {
          .svg path {
            fill: var(--text-nav-active);
          }

          .svgPoker path {
            stroke: var(--text-nav-active);
          }
        }

        .descr {
          color: var(--text-nav-active);
        }
      }
    }
  }
}
