.box {
  padding-left: 15px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  max-width: 576px;

  .title {
    margin-bottom: 15px;
  }

  .swiper {
    padding-right: 15px;
    width: 100%;
  }

  .slide {
    border-radius: 10px;
    background-color: var(--bg-elements);
    border-bottom: 3px solid #008e8f;
    .boxInfoCard {
      max-width: 460px;
      display: flex;
      align-items: center;
      padding: 10px;
      border-radius: 10px;

      .boxBonus {
        display: flex;
        align-items: center;
        margin-right: auto;

        .boxImg {
          position: relative;
          display: flex;
          border-radius: 10px;

          .imgCard {
            width: 48px;
            height: 48px;
            margin-right: 11px;
            border: 1px solid var(--white);
            border-radius: 10px;
          }

          .numberValue {
            text-align: center;
            position: absolute;
            bottom: 0;
            right: 12px;
            border-radius: 6px;
            padding: 0px 4px;
            background: white;
            font-weight: 600;
            font-size: 10px;
            color: var(--black);
          }
        }

        .boxName {
          .boxInfo {
            display: flex;
            align-items: center;
            margin-bottom: 7px;

            .nameTitle {
              font-weight: 600;
              font-size: 15px;
              margin-right: 6px;
            }
          }
        }

        .boxBonusInfo {
          display: flex;
          .imgInfo {
            margin-right: 2px;
          }

          .span {
            font-weight: 600;
            font-size: 12px;
            color: var(--text-rating);
            margin-right: 4px;
          }
          .descr {
            max-width: 42px;
            border-radius: 8px;
            padding: 3px 7px;
            background: rgba(121, 62, 198, 0.2);
            font-weight: 600;
            font-size: 10px;
            color: var(--text-bonus);
            margin-right: 4px;
          }

          .freespin {
            background: rgba(0, 142, 143, 0.2);
            border-radius: 8px;
            padding: 3px 7px;
            font-weight: 600;
            font-size: 10px;
            color: #008e8f;
          }
        }
      }

      .btn {
        padding: 7px 25px;
        font-weight: 700;
        font-size: 16px;
        line-height: 128%;
        color: var(--white);
      }
    }
  }
}
